In [16]:
#making my import quotas
import pandas as pd
import re

In [17]:
#loading my data
data = pd.read_csv('merged.dat')

In [18]:
data.head(5)

  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9
0  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
1  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
2  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
3  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
4  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...

The issue with this data appears to be the "./" at the start of each line. The re.sub method should be able to find and replace them with a blank space however.

In [91]:
#isolating bits of data
new_data = re.search('_(4DayOld)_(4psi)_(CO2_a|b).([1-9]*)', './data/20141118_131037/N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9')

In [93]:
print (new_data.group(1))
print (new_data.group(2))
print (new_data.group(3))

4DayOld
4psi
CO2_a

In [50]:
#thought about making a function but didn't
def fix_data(data):
    '''A function to take the data out of a file format with one column '''
    m = re.search('')

AttributeError: 'NoneType' object has no attribute 'group'

In [97]:
#another dead end
for line in data:
    re.sub('./',line,' ')

In [98]:
data.head(5)

  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9
0  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
1  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
2  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
3  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...
4  ./data/20141118_131037/N2_4DayOld_4psi_CO2_a.0...

In [168]:
#gave up on this one too
for line in data:
    new_data = re.sub('./',' \n',line)

In [180]:
#stackoverflow gave me this outfile idea
outfile = open('test.txt','a')
for line in data:
#find ./ and replace it with ' '
    outfile.write(re.sub(',/','  ',line))
    
outfile.close()

In [181]:
#peeking at the file
with open("test.txt") as text_file:
    contents = text_file.read()
print(contents)

 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9

In [182]:
#opening it with Pandas
pd.read_csv('test.txt')

Empty DataFrame
Columns: [ dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9 dat 20141118_13103 N2_4DayOld_4psi_CO2_a.00001.dat:15.028 0.00 1 234.9]
Index: []